  header
  {
    background-color: black;
    color: white;
  }
  
  a
  {
    color: gray;
    font-weight: bold;
  }
  
  footer
  {
    border-color: black;
    border-style: solid;
    background-color: black;
    color: white;
    text-align:center;
  }

  h1{
    margin: 0px;
    padding-top: 15px;
  }

  .eventsList
  {
    background-color: lightgray;
    color : black;
    list-style-type: none;
    border-radius: 7px;
    border-color: darkgrey;
    font-size: large;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
  }
  
  .borderedH3
  {
    border-radius: 5px;
    border-color: blue;
    border-style: solid;
    background-color: blue;
    color: white;
  }

  footer
  {
    border-color: black;
    border-style: solid;
    background-color: black;
    color: white;
    padding: 10px;
    text-align:center;
  }

  a:link 
  {
    text-decoration: none;
  }

  a:hover 
  {
    text-decoration: none;
  }
  
  .card-header
  {
      color:black;
      font-size: large;
      background-color: gray;
  }

  #paragraph
  {
      font-weight: 100;
      color:red;
      background-color: black;
  }

  /*
  *------------------TableSort CSS elements-----------------------------
  */
  th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
  }
  
  th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
  
  th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
  }
  
  th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
  }