<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Reports</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="index.html">
        <img src ="img/indianasoccerdark.png" height = "100px">
        </a> &nbsp; Indiana Soccer Referees Association
    </h1>
    </header>

    <main>
      <div class = "container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="referee.html">View Referees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="game.html">View Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="assign.html">Assign Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="report.html">Reports</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class = "row">
            <div class = "row" id="VueApp_InfoDisplay">
               <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Game Location</th>
                        <th scope="col">Game Date/Time</th>
                        <th scope="col">Referee Assigned</th>
                        <th scope="col">Assignment Status</th>
                        <th scope="col">Edit Action</th>
                        <th scope="col">Delete Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="a in assignments">
                          <td>{{ a.gameLocation }}</td>
                          <td>{{ a.gameDate }}</td>
                          <td>{{ a.refereeName }}</td>
                          <td>{{ a.assignementStatus }}</td>
                          <td><button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectAssignmentToEdit(a)">Edit</button></td>
                          <td><button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="deleteAssignment(a)">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
                <!-- <formarea> -->

                    <label><b>Assign referees to games.</b></label>
                    <form v-on:submit.prevent="postAssign" class="row g-3">
                      <div class="col-12">
                        <label for="GameChoose" class="form-label">Choose Game Details</label>
                        <select name="Games" v-model = "assignForm.ganeId" class="form-select" id="GameChoose" required="required">
                          <option v-for="game in games" v-bind:value="game.id">{{ game.gameLocation}}, {{game.gameDate}}</option>
                        </select>
                      </div>
                      
                        <div class="col-12">
                          <label for="RefereeChoose" class="form-label">Choose a Referee</label>
                          <select name="Referees" v-model = "assignForm.refereeId" class="form-select" id="RefereeChoose" required="required">
                            <option v-for="referee in referees" v-bind:value="referee.id">{{ referee.refereeName }}</option>
                          </select>
                        </div>
                        
                        <div class="col-12">
                          <label for="StatusChoose" class="form-label">Choose Assignment Status</label>
                          <select name="Assignments" v-model = "assignForm.assignementStatus" class="form-select" id="StatusChoose" required="required">
                            <option value="Assigned">Assigned</option>
                            <option value="Unassigned">Unassigned</option>
                            <option value="Tentative">Tentative</option>
                            <option value="Accepted">Accepted</option>
                          </select>
                        </div>
                        <!-- <div class="col-md-12">
                          <label for="inputMSRP" class="form-label">Manufacturer's Suggested Retail Price</label>
                          <input type="text" v-model = "refereeForm.msrp" class="form-control" id="inputCity" placeholder="$">
                        </div> -->
                        <!-- <div class="col-12">
                          <button type="submit" class="btn btn-primary">Add new referee</button>
                        </div>  -->
                        <div class="form-item-format">
                          <!-- <input class="btn btn-primary" type="submit" value="Add Book"> -->
                          <button type="submit" class="btn btn-primary">Assign Game</button>
                        </div>
                      </form>
                <!-- </formarea> -->
            </div>
        </div>
          </main>
    
          <footer>
            Image Source: 
            <a href="https://1000logos.net/wp-content/uploads/2019/08/Indiana-Hoosiers-baseball-logo.jpg">Hoosier Logo (1000logos.net)</a>
          </footer>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <!-- TableSort plugin from http://tristen.ca/tablesort/demo/ -->
        <script src="js/tablesort.min.js"></script>
        <!-- <script>
          new Tablesort(document.getElementById('bookTable'));
        </script> -->
        <script src="js/index.js"></script>
  </body>
</html>